

.square {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-color: gray;
    z-index: 999;
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%);
    margin: 0;
    padding: 0;
}

#square2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: gray;
    z-index: 999;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    margin: 0; /* Marge auf 0 setzen */
    padding: 0; /* Polster auf 0 setzen */
}



.square_black1 {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-bottom: 100px solid rgb(64, 64, 64);
    z-index: 998;
    transform-origin: bottom right;
    transform: rotate(180);
    margin: 0;
    padding: 0;
}

.square_black2 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-bottom: 100px solid rgb(64, 64, 64);
    z-index: 998;
    transform-origin: bottom rightside;
    transform: rotate(90deg);
    margin: 0;
    padding: 0;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.page.active {
    opacity: 1;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
}

.container {
    text-align: center; /* Zentrieren von inline-Elementen */
}

.fullscreen-image {
    max-width: 100%;
    max-height: 100vh;
    width: auto;
    height: auto;
    margin: auto; /* Zentrieren des Bildes horizontal */
	position: relative; /* Positionierung relativ */
}


.wiggle-text {
    animation: wiggle 2s infinite;
}
.wiggle-text2 {
    animation: wiggle 2s infinite;
}

@keyframes wiggle {
    0% { transform: translateY(-5px); }
    50% { transform: translateY(5px); }
    100% { transform: translateY(-5px); }
}

.element {
    property: var(--size);
}

.wiggle-text {
    position: fixed;
    bottom: var(--size); /* Anpassen der vertikalen Position */
    right: 20px; /* Anpassen der horizontalen Position */
    z-index: 1000; /* Stelle sicher, dass der Text über dem Dreieck liegt */
    transform-origin: bottom right;
	color: red; /* Ändere die Textfarbe nach Bedarf */
	font-weight: bold; /* Mache den Text fett */
    font-size: calc(0.1 * var(--size)); /* Setze die Schriftgröße basierend auf dem Faktor */
}

.wiggle-text2 {
    position: fixed;
    bottom: var(--size); /* Anpassen der vertikalen Position */
    left: 20px; /* Anpassen der horizontalen Position */
    z-index: 1000; /* Stelle sicher, dass der Text über dem Dreieck liegt */
    transform-origin: bottom left;
	color: red; /* Ändere die Textfarbe nach Bedarf */
	font-weight: bold; /* Mache den Text fett */
    font-size: calc(0.1 * var(--size)); /* Setze die Schriftgröße basierend auf dem Faktor */
}

body {
    background-color: black;
    margin: 0; /* Entferne den Standardabstand des Body-Elements */
}
